#rsvp_form
  %div#rsvp_title{style: 'font-weight:600;'}= "RSVP for #{@event.name}!"
  %div (You will be added to our mailing list. Your information will not be shared.)
  %br
  %i * denotes a required field
  = form_tag guests_path, id: 'rsvp_guest', remote: true, format: :js do
    -# this path does an ajax post to the guests controller action "create"
    = hidden_field_tag :event_id, @event.id

    = text_field :guest, :first_name, class: 'edit_text_field', placeholder: '*First Name', label: 'first_name'
    = text_field :guest, :last_name, class: 'edit_text_field', placeholder: '*Last Name', label: 'last_name'
    = text_field :guest, :email, class: 'edit_text_field', placeholder: '*Email', label: 'email'
    = text_field :guest, :phone, class: 'edit_text_field', placeholder: 'Phone Number', label: 'phone'
    = text_field :guest, :address, class: 'edit_text_field', placeholder: 'Address', label: 'address'
    = text_field :guest, :city, class: 'edit_text_field', placeholder: 'City', label: 'city'
    = text_field :guest, :state, class: 'edit_text_field', placeholder: 'State', label: 'state'
    = text_field :guest, :zip, class: 'edit_text_field', placeholder: 'Zip', label: 'zip'

    %p*Do you want to remain anonymous to other guests?
    %div{style: 'padding: 0 15% 0 15%;'}
      = hidden_field :guest, :is_anon, value: nil
      %div{style: "float:left; position:relative;"}
        %label{for: 'guest_is_anon'}
          = radio_button :guest, :is_anon, true, style: 'margin: 0;'
          &nbsp;Yes
      %div{style: "float:right; position:relative;"}
        %label{for: 'guest_is_anon'}
          = radio_button :guest, :is_anon, false, style: 'margin: 0;'
          &nbsp;No
      %div{style: "clear:both;"}
    %br
    %div{style: 'float:right;'}
      %div= submit_tag "RSVP", class: 'button'

    %button.button{style: 'float:left;', onClick: 'toggleOverlay()'} Cancel
