<br/>
<br/>
<br/>
<div id='main' style="width:50%; margin-left:25%; margin-right:25%; min-width:30em;">
  <h1 class='title' style="border-bottom: 4px solid #A6C55F; border-top: 0px;"></h1>
  <div style='padding: 1em;'>




    <h2 style="font-weight:200;">Log in</h2>
    <% flash.each do |name, msg| %>
      <% if name != 'notice' %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <%= msg %>
        </div>
      <% end %>
    <% end %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, class: 'edit_text_field', placeholder: 'Email', label: 'email', style: 'width:20em;' %>
      </div>
      <br/>
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", class: 'edit_text_field', placeholder: 'Password', label: 'password', style: 'width:20em;' %>
      </div>

      <br/>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

     <br/>

      <div class="actions">
        <%= f.submit "Log in", class: 'button'%>
      </div>
    <% end %>

    <br/>

    <%= render "users/shared/links" %>
    





    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
  <h1 class="title" style= "border-top: 4px solid #A6C55F; border-bottom: 0px;"></h1>
</div>
