%div= label :event, :name, 'Event Name'
%div= text_field :event, 'name'

%div= label :event, :organization, 'Organization Name'
%div= text_field :event, :organization, value: 'Nature in the City'

%div= label :event, :venue_name, "Venue Name"
%div= text_field :event, 'venue_name'

<br>
%div= text_field_tag :autocomplete, nil, {placeholder: 'Enter your address', onFocus: 'geolocate();'}

%div= label_tag 'Street Address'
%div
  = text_field :event, 'st_number', disabled: true, size: '6'
  = text_field :event, 'st_name', disabled: true

%div= label :event, :city, 'City'
%div= text_field :event, 'city', disabled: true

%div= label :event, :zip, 'Zip'
%div= text_field :event, 'zip', size: '6', disabled: true

%div= label :event, :state, 'State'
%div= text_field :event, 'state', size: '6', disabled: true

%div= label :event, :country, 'Country'
%div= text_field :event, 'country', size: '20', disabled: true
<br>

%div= label :event, :start, 'Start Time'
%div= datetime_select :event, :start

%div= label :event, :end, 'End Time'
%div= datetime_select :event, :end

%div= label :event, :description, 'Description'
%div= text_area :event, 'description', :cols =>'40', :rows => '10'

%div= label :event, :how_to_find_us, 'How to find us'
%div= text_area :event, 'how_to_find_us', :cols =>'40', :rows => '8'
