%div= label :event, :name, 'Event Name'
%div= text_field :event, 'name'

%div= label :event, :organization, 'Organization Name'
%div= text_field :event, :organization, value: 'Nature in the City'

%div= label :event, :venue_name, "Venue Name"
%div= text_field :event, 'venue_name'

<br>
%div= text_field_tag :autocomplete, nil, {placeholder: 'Enter your address', onFocus: 'geolocate();'}


%div= label_tag 'Street Address'
%div
  = text_field_tag :street_number, nil, {disabled: true, size: '6'}
  = text_field_tag :route, nil, disabled: true

%div= label_tag 'City'
%div= text_field_tag :locality, nil, disabled: true

%div= label_tag 'Zip'
%div=text_field_tag :postal_code, nil, {size: '6', disabled: true}

%div= label_tag 'State'
%div= text_field_tag :administrative_area_level_1, nil,  {size: '6', disabled: true}

%div= label_tag 'Country'
%div= text_field_tag :country, nil, {size: '20', disabled: true}

#map

%div= label :event, :start, 'Start Time'
%div= datetime_select :event, :start

%div= label :event, :end, 'End Time'
%div= datetime_select :event, :end

%div= label :event, :description, 'Description'
%div= text_area :event, 'description', :cols =>'40', :rows => '10'

%div= label :event, :how_to_find_us, 'How to find us'
%div= text_area :event, 'how_to_find_us', :cols =>'40', :rows => '8'
