#panel_header
  %h2 Available Events

= form_tag pull_third_party_events_path, method: :post, format: :js, remote: true, id: 'third_events_list_form' do
  - if @events.present?
    %table#available_third_events_table
      %thead
        %tr
          %th
          %th.field Name
          %th.field Group
          %th.field Start Time
          %th.field End Time
          %th.field Location
          %th.field Link

      %tbody
        - @events.each do |event|
          %tr
            %td#third_events_checks= check_box_tag "event#{(id = event.meetup_id) ? id : ''}"
            %td#names_column= event.name
            %td= (organization = event.organization) ? organization : 'N/A'
            %td= (start = event.format_start_date) ? start : 'N/A'
            %td= (end_date = event.format_end_date) ? end_date : 'N/A'
            %td= (location = event.location) ? location : 'N/A'
            %td#third_events_links= link_to 'go', event.url, target: '_blank'

    = submit_tag "Save Events", class: 'button_right'

  - else
    .field
      There are currently no upcoming events for this group.

  = submit_tag "Cancel",  name: 'cancel_third_party', class: 'button_left'