#title
  %h3= @event.name

#rsvp
  = form_tag new_guest_path(event_id: @event.id), method: 'get', id: 'new_rsvp', format: :js, remote: true do
    -# this path does an ajax get to the guest controller action "new"
    = submit_tag 'RSVP Now!', class: 'button'

- if @event.image.file?
  #image
    = image_tag @event.image

#time
  .field Time
  = @time_period

#location
  .field  Location

  #venue= @event.venue_name
  #loco
    = @event.location
  #map

#find_us
  .field How to Find Us
  %div
    = @event.how_to_find_us

#description
  .field About
  %div
    != @event.description

#guests
  .field Check out who's going!
  %table#attendees
    %tbody
      - @non_anon_guests_by_first_name.each do |guest|
        %tr
          %td= guest.first_name

#buttons_box
  - if user_signed_in?
    %div{style: "float:left;"}
      = form_tag edit_event_path(@event), method: 'get', id: 'edit_event', format: :js, remote: true do
        -# this path does an ajax get to the event controller action "edit"
        = submit_tag 'Edit', class: 'button'
    %div{style: "float:right;"}
      = form_tag event_path(@event), method: 'delete', id: 'delete_event', format: :js, remote: true do
        -# this path does an ajax delete to the events controller action destroy
        = hidden_field_tag :event_id, @event.id
        = submit_tag 'Delete', class: 'button', confirm: 'Are you sure?'

