#title
  %h3= @event.name

#rsvp
  = form_tag new_guest_path(event_id: @event.id), method: 'get', id: 'new_rsvp', format: :js, remote: true do
    -# this path does an ajax get to the guest controller action "new"
    = submit_tag 'RSVP Now!', class: 'button'

- if @event.image.file?
  #image
    = image_tag @event.image

- if @time_period.present?
  #time{class: "#{determine_class(elem)}"}
    .field Time
    = @time_period

- if @event.venue_name.present? && @event.location.present?
  #location{class: "#{determine_class(elem)}"}
    .field  Location

    #venue= @event.venue_name
    #loco
      = @event.location
    #map

- if @event.how_to_find_us.present?
  #find_us{class: "#{determine_class(elem)}"}
    .field How to Find Us
    %div
      = @event.how_to_find_us

- if @event.description.present?
  #description{class: "#{determine_class(elem)}"}
    .field About
    %div
      != @event.description

- if @non_anon_guests_by_first_name.present?
  #guests{class: "#{determine_class(elem)}"}
    .field Check out who's going!
    %table#attendees
      %tbody
        - @non_anon_guests_by_first_name.each do |guest|
          %tr
            %td= guest.first_name

#buttons_box
  - if user_signed_in?
    %div
      = form_tag edit_event_path(@event), method: 'get', id: 'edit_event', format: :js, remote: true do
        -# this path does an ajax get to the event controller action "edit"
        = submit_tag 'Edit', class: 'button_left'
    %div
      = form_tag event_path(@event), method: 'delete', id: 'delete_event', format: :js, remote: true do
        -# this path does an ajax delete to the events controller action destroy
        = hidden_field_tag :event_id, @event.id
        = submit_tag 'Delete', class: 'button_right', id: 'delete_1'

