#title
  %h2= @event.name

#rsvp
  = form_tag new_guest_path(event_id: @event.id), method: 'get', id: 'new_rsvp', format: :js, remote: true do
    -# this path does an ajax get to the guest controller action "new"
    = submit_tag 'RSVP Now!', class: 'button'

- if @event.image.file?
  #image
    = image_tag @event.image.url(:original)
    %br

#time
  .left
    %p Time
  .right
    %p= @time_period
  .clear

#location
  %p{style: 'font-weight:600;'} Location

  #venue= @event.venue_name
  %p#loco
    = @event.location
  %div#map

#find_us
  %p{style: 'font-weight:600;'} How to Find Us
  %div
    = @event.how_to_find_us

#description
  %p{style: 'font-weight:600;'} About
  %div
    != @event.description

#guests
  %p.field Check out who's going!
  %table#attendees
    %thead
      %tr
        %th Name
    %tbody
      - @non_anon_guests_by_first_name.each do |guest|
        %tr
          %td= guest.first_name
  %br

- if user_signed_in?
  %br
  %div
    %div{style: "float:left;"}
      = form_tag edit_event_path(@event), method: 'get', id: 'edit_event', format: :js, remote: true do
        -# this path does an ajax get to the event controller action "edit"
        %p= submit_tag 'Edit', class: 'button'
    %div{style: "float:right;"}
      = form_tag event_path(@event), method: 'delete', id: 'delete_event', format: :js, remote: true do
        -# this path does an ajax delete to the events controller action destroy
        = hidden_field_tag :event_id, @event.id
        %p= submit_tag 'Delete', class: 'button', confirm: 'Are you sure?'
    %div{style: "clear:both;"}
