%h4.default_event_message Suggest Event

= form_tag events_path, id: 'create_event', remote: true, format: :js, :multipart => true, authenticity_token: true do
  -# this path does an ajax post to the event controller action create
  = render 'event_form'
  = hidden_field_tag 'suggested_event', 'True'
  = submit_tag "Suggest Event", class:'button_right', id: 'suggest'
  = submit_tag "Cancel",  name: 'cancel', id: 'cancel', class: 'button_left'
