%div
  #title
    %h3 Add Third Party Events
    - notice = flash[:notice]
    - if notice
      %h3= notice
  %div
    %h4 Search by Event-ID or by URL-Group-Name

  = form_tag third_party_events_path, method: :get, format: :js, remote: true do
    = radio_button_tag 'search_by', 'id'
    = label_tag 'id', 'ID', id: 'id_label'
    = text_field_tag 'id', nil, class: 'edit_text_field'

    = radio_button_tag 'search_by', 'group'
    = label_tag 'group_urlname', 'Group Name', id: 'group_label'
    = text_field_tag 'group_urlname', nil, class: 'edit_text_field'

    = submit_tag "Get Events", class: 'button_right'
    = submit_tag "Cancel",  name: 'cancel', class: 'button_left'