-#  This file is app/views/events/index.html.haml
%h1 Events Listing

- # ONCE AUTHENTICATION IS DONE, THEN DISPLAY THIS MESSAGE ONLY FOR ADMIN????
- if flash[:notice]
  .notice
    %h3= flash[:notice]

%table#events
  %thead
    %tr
      %th Event Name
      %th Location
      %th Organization Name
      %th Start Time
      %th Description
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to "#{event.name}", event_path(event)
        %td= event.location
        %td= event.organization
        %td= event.start
        %td= event.description

- if user_signed_in?
  = link_to 'Add new event', new_event_path
