%h1 Events

%table#movies
    %thead
        %tr
            %th Name
            %th Date
            %th Time
            %th Location
            %th Organization
    %tbody
    - @events.each do |event|
        %tr
            %td= link_to event.name, event_path(event)
            %td= event.formatted_date
            %td= event.formatted_time
            %td= event.location
            %td= event.organization
