-#  This file is app/views/events/index.html.haml
%h1 Events Listing

%table#events
  %thead
    %tr
      %th Event Name
      %th Location
      %th Organization Name
      %th Start Time
      %th Description
  %tbody
    - @events.each do |event|
      %tr
        %td= link_to "#{event.title}", event_path(event)
        %td= event.location
        %td= event.organization
        %td= event.start
        %td= event.description

= link_to 'Add new event', new_event_path
