-# in app/views/events/show.html.haml
%div= @message

%h1 Details about #{@event.name}

- if message = flash[:notice]
  %h3= message

%ul#details
  %li#name
    Name:
    = @event.name
  %li#organization
    Organization:
    = @event.organization
  %li#venue_name
    Venue Name:
    = @event.venue_name
  %li#location
    Location:
    = @event.location
  %li#start
    Start:
    = @event.start.strftime("%B %d, %Y at %l:%M%P") if @event.start
  %li#end
    End:
    = @event.end.strftime("%B %d, %Y at %l:%M%P") if @event.end

%h3 Description:

%p#description= @event.description

%h3 How to find us:

%p#how_to_find_us= @event.how_to_find_us

%div= link_to 'Edit', edit_event_path(@event)

%h2 Here's what's happening!
= image_tag @event.image.url(:medium)

%h2 Check out who's going!
%table#attendees
  %thead
    %tr
      %th Name
      %th Phone Number
      %th Email
      %th Address
  %tbody
    - @non_anon_guests_by_first_name.each do |guest|
      %tr
        %td= guest.first_name
        %td= guest.phone
        %td= guest.email
        %td= guest.address

%h2 RSVP Now!
= form_tag guests_path, id: 'rsvp' do
  = hidden_field_tag :event_id, @event.id

  %div= label :guest, :first_name, 'First Name'
  %div#first_name= text_field :guest, :first_name

  %div= label :guest, :last_name, 'Last Name'
  %div#last_name= text_field :guest, :last_name

  %div= label :guest, :phone, 'Phone'
  %div#phone= text_field :guest, :phone

  %div= label :guest, :email, 'Email'
  %div#email= text_field :guest, :email

  %div= label :guest, :address, 'Address'
  %div#address= text_area :guest, :address, :cols =>'40', :rows => '10'

  %div Do you want to remain anonymous?
  = hidden_field :guest, :is_anon, :value => nil
  = label :guest, :is_anon, 'Yes'
  = radio_button :guest, :is_anon, true
  = label :guest, :is_anon, 'No'
  = radio_button :guest, :is_anon, false

  %p= submit_tag "Submit"

- if user_signed_in?
  = button_to 'Delete', event_path(@event), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to calendar', calendar_path
