%h2 Details about #{@event.name}

%ul#details
  %li
    Organization:
    = @event.organization
  %li
    Date:
    = @event.formatted_date
  %li
    Time:
    = @event.formatted_time
  %li
    Location:
    = @event.location

%h3 Description:

%p#description= @event.description

= link_to 'Back to calendar', events_path
