#image
  = image_tag @event.image.url(:medium)
<br/>

#name
  .left
    %p Title
  .right
    %p
      = @event.name
  %div{:style=>"clear:both;"}

#date_time
  .left
    %p Time
  .right
    %p
      = @timePeriod
  %div{:style=>"clear:both;"}

#location
  %p{style: 'font-weight:600;'} Location
  %p
    = @event.location
  <br/>
  %p
    <i>map coming soon!</i>
    <br/>

#description
  %p{style: 'font-weight:600;'} About
  %p 
    != @event.description

#find_us
  %p{style: 'font-weight:600;'} How to find us: 
  %p 
    != @event.how_to_find_us
<br/>

#rsvp
  %p Check out who's going!
  -# maybe we should put a link to an rsvp form page or popup...
  %table#attendees
    %thead
      %tr
        %th Name
    %tbody
      - @non_anon_guests_by_first_name.each do |guest|
        %tr
          %td= guest.first_name
  <br/>
  %p RSVP Now!
  = form_tag guests_path do
    = hidden_field_tag :event_id, @event.id

    = label :guest, :first_name, 'First Name'
    = text_field :guest, :first_name, class: 'edit_text_field'

    = label :guest, :last_name, 'Last Name'
    = text_field :guest, :last_name, class: 'edit_text_field'

    = label :guest, :phone, 'Phone'
    = text_field :guest, :phone, class: 'edit_text_field'

    = label :guest, :email, 'Email'
    = text_field :guest, :email, class: 'edit_text_field'

    = label :guest, :address, 'Address'
    = text_area :guest, :address, :cols =>'20', :rows => '10', class: 'edit_text_field'

    %p Do you want to remain anonymous?
    %div
      = hidden_field :guest, :is_anon, :value => nil
      %div{:style=>"float:left; position:relative;"}
        = label :guest, :is_anon, 'Yes'
        = radio_button :guest, :is_anon, true
      %div{:style=>"float:right; position:relative;"}
        = label :guest, :is_anon, 'No'
        = radio_button :guest, :is_anon, false
      %div{:style=>"clear:both;"}
    <br/>
    %p= submit_tag "Submit", :class=>'button', style: 'float:right;'
    <br/>

- if user_signed_in?
  <br/>
  <br/>
  %div
    %div{:style=>"float:left;"}
      %input{type: 'button', id: 'edit_event', value: 'Edit', class: 'button'}
    %div{:style=>"float:right;"}
      %input{type: 'button', id: 'delete_event', value: 'Delete', class: 'button'}
      =# button_to 'Delete', event_path(@event), :class => 'button', :method => :delete, :confirm => 'Are you sure?'
    %div{:style=>"clear:both;"}
