%h2 Details about #{@event.name}

%ul#details
  %li
    Organization:
    = @event.organization
  %li
    Date:
    = @event.date.strftime('%B %d, %Y')
  %li
    Time:
    = @event.time.strftime('%l:%M%P')
  %li
    Location:
    = @event.location

%h3 Description:

%p#description= @event.description

= link_to 'Back to calendar', events_path
