-# in app/views/movies/show.html.haml

%h2 Details about #{@event.name}

%ul#details
  %li
    Organization:
    = @event.organization
  %li
    Event Name:
    = @event.name
  %li
    Location:
    = @event.location
  %li
    Date:
    = @event.date.strftime("%B %d, %Y")
  %li
    Time:
    = @event.formatted_time

%h3 Description:

%p#description= @event.description

%div= link_to 'Edit', edit_event_path(@event)
= button_to 'Delete', event_path(@event), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to calendar', events_path
