.titles
  %h1 Third Party Events
  - notice = flash[:notice]
  - if notice
    %h3= notice
.subtitles
  %h3 Filter by ID or by Group Name

= form_tag third_party_events_path do

  = label_tag 'id', 'ID'
  = text_field_tag 'id'
  </br>
  = label_tag 'group_urlname', 'Group Name'
  = text_field_tag 'group_urlname'
  </br>
  </br>
  = submit_tag 'Search'

</br>
</br>
%h2 Matched Events
</br>
= form_tag pull_third_party_events_path do
  %table#matched_events
    %thead
      %tr
        %th Select
        %th Name
        %th Group
        %th Start Time
        %th End Time
        %th Location
        %th Meetup Link

    %tbody
      - @events.each do |event|
        %tr
          - meetup_id = event.meetup_id
          %td= check_box_tag "event" + (meetup_id.nil? ? "" : meetup_id)
          - name = event.name
          - id = event.id
          %td.names= id ? (link_to name, event_path(id)) : name
          %td= (organization = event.organization) ? organization : 'N/A'
          %td= (start = event.format_start_date) ? start : 'N/A'
          %td= (end_date = event.format_end_date) ? end_date : 'N/A'
          %td= (location = event.location) ? location : 'N/A'
          - if (url = event.url) =~ /www.meetup.com/
            %td= link_to 'go', url

  </br>
  = submit_tag 'Add Events'

</br>

</br>
</br>
= link_to 'Back to Calendar', calendar_path
</br>
</br>
= link_to 'Events Directory', events_path