= "#{@guest.first_name} #{@guest.last_name} has RSVPed for #{@event.name}."

:plain
Infomation about the attendee:
= "First Name: #{@guest.first_name}"
= "Last Name: #{@guest.last_name}"
= "Email: #{@guest.email}"
- if @guest.phone != nil and @guest.phone != ''
  = "Phone: #{@guest.phone}"
- if @guest.address != nil and @guest.address != ''
  = "Street: #{@guest.address}"
- if @guest.city != nil and @guest.city != ''
  = "City: #{@guest.city}"
- if @guest.state != nil and @guest.state != ''
  = "State: #{@guest.state}"
- if @guest.zip != nil and @guest.zip != ''
  = "Zip: #{@guest.zip}"
