-# in app/views/calendars/_admin_panel.html.haml, rendered from _calendar.html.haml
%br
- if @event_relations[tab].count > 0
  - @event_relations[tab].each do |event|
    .container{:id => "#{tab.downcase}_title"}
      .col-sm-8
        %h3= "#{event.name}"
      .col-sm-4
        %button= "Show More"
    .container{:id => "#{tab.downcase}_details"}
      #top{:class => "row"}
        #date.col-sm-3
          Date:
          .container=event.start.strftime("%b %-d, %Y")
        #cost.col-sm-3
          Cost:
          .container --
        #tags.col-sm-3
          Tags:
          .container --
        #contact_1.col-sm-3
          Contact Info:
          .container Name: --
          .container Phone: --
          
      #bottom{:class => "row"}
        #time.col-sm-3{:id => "_Time"}
          Time:
          .container="Start: #{event.start.strftime("%r")}"
          .container= "End: #{event.end.strftime("%r")}"
        #location.col-sm-3{:id => "_Location"}
          Location:
          .container= "#{event.st_number} #{event.st_name}"
          .container= "#{event.city}, CA #{event.zip}"
        #description.col-sm-3{:id => "_Description"}
          Description
          .container-fluid
            %p= event.description
        #contact_2.col-sm-3{:id => "val_Email"}
          .container Email: --
          .container="Org: #{event.organization}"
    %br
    -# OLD TABLE 
    -#%table{:id => "#{tab.downcase}_#{event.id}"}
      -#%tbody
        -#%tr
          -#%td
            -#%h3= event.name
          -#%td= "Organization: #{event.organization}"
          -#%td= "Venue: #{event.venue_name}"
        -#%tr
          -#%td= event.description
        -#%tr
          -#%td= "Start: #{event.start}"
          -#%td= "End: #{event.end}"
    -#%br
- else
  %ul
    %li= "There are no #{tab} events"