#overlay

#content_box

#main
  - flash.each do |_, msg|
    %div
      = msg

  #color_keys
    %table
      %tr
        %td{width: '20px'}
          %svg{:xmlns => "http://www.w3.org/2000/svg", :version => "1.1", :width => 15, :height => 15}
            %rect{:width => 15, :height => 15, :fill => "#A6C55F"}

        %td Nature in the City
      %tr
        %td{width: '20px'}
          %svg{:xmlns => "http://www.w3.org/2000/svg", :version => "1.1", :width => 15, :height => 15}
            %rect{:width => 15, :height => 15, :fill => "#ff8832"}

        %td Partner Organizations
        %td
          %button.button_right{'href' => '#', 'data-toggle' => 'modal'} Suggest Event
          

  #title_box
    - if user_signed_in?
      #admin_panel
        .dropdown
          %p{class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
            Admin Panel
          %ul.dropdown-menu
            %li
              = link_to "Sign Out", destroy_user_session_path, :method => :get
            %li
              = link_to "Change your password", edit_user_registration_path

            - if user_signed_in? and current_user.root?
              %li
                = link_to "Create new account", new_account_path, :method => :get
              %li
                = link_to "Delete existing accounts", edit_account_path("root"), :method => :get

    #event_creation_box
      - if user_signed_in?
        = form_tag new_event_path, method: :get, id: 'new_event', format: :js, remote: true do
          -# this path does an ajax GET to the event controller action "new"
          = submit_tag '+', class: ['main_organization', 'event_creation_button']

        = form_tag third_party_events_path, method: :get, id: 'third_party', format: :js, remote: true  do
          -#this path does an ajax GET to the event controller action "third_party"
          = submit_tag '+ 3rd Party', class: ['event_creation_button','third_party_organization']

    .clear

  - # Div for calendar and sidepanel
  #wrap
    #calendar
    - # Div for event side panel
    #panel_wrapper
      #panel_header
        %h2 Event Details
      #panel
        %h4.default_event_message Click an event!

    .clear
    
    #events_box
      %div{:class => 'container'}
        %br
        %h2 Events
        %br
      #upcoming.container
        %ul{:class => 'nav nav-tabs'}
          %li{:class => 'active'}
            %a{:href =>'#upcoming_events', 'data-toggle' => 'tab'} Upcoming
          %li
            %a{:href =>'#pending_events', 'data-toggle' => 'tab'} Pending (#{@pending})
          %li
            %a{:href =>'#rejected_events', 'data-toggle' => 'tab'} Rejected
          %li
            %a{:href =>'#past_events', 'data-toggle' => 'tab'} Past
      
      %div{:class=>'tab-content clearfix'}
        %div{:class => 'tab-pane active', :id =>'upcoming_events'}
          %br
          %ul
            %li upcoming approved event
        %div{:class => 'tab-pane', :id =>'pending_events'}
          %br
          %ul
            %li upcoming pending event
        %div{:class => 'tab-pane', :id =>'rejected_events'}
          %br
          %ul
            %li upcoming rejected event
        %div{:class => 'tab-pane', :id =>'past_events'}
          %br
          %ul
            %li past event
