#e_name
  = label :event, :name, 'Name', class: 'field'
  = text_field :event, 'name', placeholder: 'Name', class: 'edit_text_field'

#e_image
  %p.field Image Upload
  = file_field :event, :image, :id => "image"

#e_start_time
  = label :event, :start, 'Start Time', class: 'field'
  = datetime_select :event, :start, class: 'edit_text_field'

#e_end_time
  = label :event, :end, 'End Time', class: 'field'
  = datetime_select :event, :end, class: 'edit_text_field'

= hidden_field :event, :organization, value: 'Nature in the City'
= hidden_field :event, :venue_name, value: 'Nature in the City'

#e_address_1

#e_location
  %div= label_tag 'Location', 'Location', class: 'field'
  %div= text_field_tag :autocomplete, nil, {placeholder: 'Enter your address', onFocus: 'geolocate();'}

  %div= label_tag 'Street Address', 'Street Address', class: 'field'
  %div
    = text_field :event, 'st_number', disabled: true
    = text_field :event, 'st_name', disabled: true

  #e_city
    = label :event, :city, 'City', class: 'field'
    = text_field :event, 'city', class: 'edit_text_field', disabled: true

  #e_state
    = label :event, :state, 'State', class: 'field'
    = text_field :event, 'state', disabled: true

  #e_zip
    = label :event, :zip, 'Zip', class: 'field'
    = text_field :event, 'zip', size: '6', class: 'edit_text_field', disabled: true

  #e_country
    = label :event, :country, 'Country', class: 'field'
    = text_field :event, 'country', class: 'edit_text_field', disabled: true

  <br>

  #map
  <br>

#e_description
  = label :event, :description, 'Description', class: 'field'
  = text_area :event, 'description', :cols =>'40', :rows => '10', class: 'edit_text_field tinymce'

#e_how_to_find_us
  = label :event, :how_to_find_us, 'How to find us', class: 'field'
  = text_area :event, 'how_to_find_us', :cols =>'40', :rows => '8', class: 'edit_text_field'
