#image
  = image_tag @event.image.url(:medium)
<br/>

#name
  .left
    %p Title
  .right
    %p
      = @event.name
  %div{:style=>"clear:both;"}

#date_time
  .left
    %p Time
  .right
    %p
      = @timePeriod
  %div{:style=>"clear:both;"}

#location
  %p{style: 'font-weight:600;'} Location
  %p
    = @event.location
  <br/>
  %p
    <i>map coming soon!</i>
    <br/>

#description
  %p{style: 'font-weight:600;'} About
  %p 
    != @event.description

#find_us
  %p{style: 'font-weight:600;'} How to find us
  %p 
    != @event.how_to_find_us
<br/>

#rsvp
  %p Check out who's going!
  -# maybe we should put a link to an rsvp form page or popup...
  %table#attendees
    %thead
      %tr
        %th Name
    %tbody
      - @non_anon_guests_by_first_name.each do |guest|
        %tr
          %td= guest.first_name
  <br/>
  %p RSVP Now!
  = form_tag create_guest_calendar_path, id: 'rsvp_guest', remote: true, format: :js do
    = hidden_field_tag :event_id, @event.id

    = text_field :guest, :first_name, class: 'edit_text_field', placeholder: 'First Name', label: 'first_name'
    = text_field :guest, :last_name, class: 'edit_text_field', placeholder: 'Last Name', label: 'last_name'
    = text_field :guest, :phone, class: 'edit_text_field', placeholder: 'Phone Number', label: 'phone'
    = text_field :guest, :email, class: 'edit_text_field', placeholder: 'Email', label: 'email'
    = text_area :guest, :address, :rows => '4', class: 'edit_text_field', placeholder: 'Address', label: 'address'

    %p Do you want to remain anonymous?
    %div{style: 'padding: 0 15% 0 15%;'}
      = hidden_field :guest, :is_anon, :value => nil
      %div{:style=>"float:left; position:relative;"}
        %label{for: 'guest_is_anon'}
          = radio_button :guest, :is_anon, true, style: 'margin: 0;'
          &nbsp;Yes
      %div{:style=>"float:right; position:relative;"}
        %label{for: 'guest_is_anon'}
          = radio_button :guest, :is_anon, false, style: 'margin: 0;'
          &nbsp;No
      %div{:style=>"clear:both;"}
    %div{style: 'float:left; position:relative; left:50%;'}
      %div{style: 'float:left; position:relative; left:-50%;'}
        %p= submit_tag "Submit", :class=>'button'
    <br/>

- if user_signed_in?
  <br/>
  <br/>
  %div
    %div{:style=>"float:left;"}
      %input{type: 'button', id: 'edit_event', value: 'Edit', class: 'button', remote: 'true'}
    %div{:style=>"float:right;"}
      %input{type: 'button', id: 'delete_event', value: 'Delete', class: 'button', remote: 'true', confirm: 'Are you sure?'}
      =# button_to 'Delete', event_path(@event), :class => 'button', :method => :delete, :confirm => 'Are you sure?'
    %div{:style=>"clear:both;"}
