#image
  - if @event.image.file?
    = image_tag @event.image.url(:original)
    <br/>

#name
  .left
    %p Title
  .right
    %p
      = @event.name
  %div{:style=>"clear:both;"}

#date_time
  .left
    %p Time
  .right
    %p
      = @timePeriod
  %div{:style=>"clear:both;"}

#location
  %p{style: 'font-weight:600;'} Location
  %p
    = @event.location
  <br/>
  %p
    #map
    <br/>

#description
  %p{style: 'font-weight:600;'} About
  %p
    != @event.description

#find_us
  %p{style: 'font-weight:600;'} How to find us
  %p
    != @event.how_to_find_us
<br/>

#rsvp
  %p Check out who's going!
  -# maybe we should put a link to an rsvp form page or popup...
  %table#attendees
    %thead
      %tr
        %th Name
    %tbody
      - @non_anon_guests_by_first_name.each do |guest|
        %tr
          %td= guest.first_name
  <br/>
  %p RSVP Now!
  = form_tag create_guest_calendar_path, id: 'rsvp_guest', remote: true, format: :js do
    -# this path does an ajax post to the calendar controller action create_guest
    = hidden_field_tag :event_id, @event.id

    = text_field :guest, :first_name, class: 'edit_text_field', placeholder: 'First Name', label: 'first_name'
    = text_field :guest, :last_name, class: 'edit_text_field', placeholder: 'Last Name', label: 'last_name'
    = text_field :guest, :phone, class: 'edit_text_field', placeholder: 'Phone Number', label: 'phone'
    = text_field :guest, :email, class: 'edit_text_field', placeholder: 'Email', label: 'email'
    = text_area :guest, :address, :rows => '4', class: 'edit_text_field', placeholder: 'Address', label: 'address'

    %p Do you want to remain anonymous?
    %div{style: 'padding: 0 15% 0 15%;'}
      = hidden_field :guest, :is_anon, :value => nil
      %div{:style=>"float:left; position:relative;"}
        %label{for: 'guest_is_anon'}
          = radio_button :guest, :is_anon, true, style: 'margin: 0;'
          &nbsp;Yes
      %div{:style=>"float:right; position:relative;"}
        %label{for: 'guest_is_anon'}
          = radio_button :guest, :is_anon, false, style: 'margin: 0;'
          &nbsp;No
      %div{:style=>"clear:both;"}
    %div{style: 'float:left; position:relative; left:50%;'}
      %div{style: 'float:left; position:relative; left:-50%;'}
        %p= submit_tag "Submit", :class=>'button'
    <br/>

- if user_signed_in?
  <br/>
  <br/>
  %div
    %div{:style=>"float:left;"}
      = form_tag show_edit_calendar_path, id: 'edit_event', format: :js, remote: true do
        -# this path does an ajax post to the calendar controller action show_edit
        = hidden_field_tag :event_id, @event.id
        %p= submit_tag 'Edit', class: 'button'
    %div{:style=>"float:right;"}
      =form_tag event_path(@event), id: 'delete_event', format: :js, remote: true, method: 'delete' do
        -# this path does an ajax delete to the events controller action destroy
        = hidden_field_tag :event_id, @event.id
        %p= submit_tag 'Delete', class: 'button', confirm: 'Are you sure?'
    %div{:style=>"clear:both;"}
