= raw @header
%hr

%main{:style => "width:75%; margin-left:12.5%; margin-right:12.5%; min-width:50em;"}
  - if user_signed_in?
    = link_to "Sign Out", destroy_user_session_path, :method => :get
  - else
    = link_to "Login", new_user_session_path, :method => :get

  - if user_signed_in? and current_user.root?
    </br>
    = link_to "Create new account", new_account_path, :method => :get
  </br>

  :javascript
    $(document).ready(function() {
      $(document).on('click', '#new_event', function(){ 
        $('#panel').html('#{j render partial: 'new_panel'}') 
      });
      $(document).on('ajax:success', '#create_event', function(e){ 
        //e.stopPropagation();
        //e.preventDefault();
        //$('#calendar').fullCalendar('addEventSource', json});
        $('#panel').html('#{j render partial: 'default_panel'}');
      });

      $(document).on('ajax:success', '#edit_event', function(){ 
        console.log("ajax success");
      });
      $(document).on('ajax:error', '#edit_event', function(){ 
        console.log("ajax error");
      });
      $(document).on('submit', '#update_event', function(e){ 
        e.stopPropagation(); 
        e.preventDefault(); 
        //var event = $('#calendar').fullCalendar('clientEvents', e.data.id);
        //event.title = e.data.name; event.start = ....etc.etc.
        //$('#calendar').fullCalendar('updateEvent', event);
        $('#panel').html('#{j render partial: 'default_panel'}');
      });

      $(document).on('click', '#delete_event', function(e){ 
        e.stopPropagation(); 
        e.preventDefault(); 
        //$('#calendar').fullCalendar('removeEvents', e.data.id);
        $('#panel').html('#{j render partial: 'default_panel'}');
      });
    });

  %div
    %div{:style=>"float:left;"}
      %h1 Events Calendar
    %div{:style=>"float:right; width:9em; padding:0 0.3em 0 0;"}
      - if user_signed_in?
        %input{type: 'button', id: 'new_event', value: '+', class: 'button', style: 'float:right;'}
        %div{style: 'position:relative;width:2em;'} 
        = button_to "+ 3rd Party", third_party_events_path, id: "third_party", class: 'button', style: 'float:left;'
    %div{:style=>"clear:both;"}
  </br>

  #wrap
    #calendar
    #panel_wrapper
      #panel_header
        %h2{:style => "font-weight:200;"} Event Details
      #panel
        %p Click an event!
        #new.crud
        #edit.crud
        #delete.crud
        %div{:style => "clear:both;"}
      %div{:style => "clear:both;"}

    %div{:style => "clear:both;"}

</br></br></br></br></br>
%h1.title{:style => "border-top: 4px solid #ff9900; border-bottom: 0px;"}
= raw @section
= raw @footer
