%div{style: 'width:90%; margin-left:5%; margin-right:5%; min-width:50em;'}= raw @header
%hr{style: 'width:90%; margin-left:5%; margin-right:5%; min-width:50em;'}

%main{:style => "width:75%; margin-left:12.5%; margin-right:12.5%; min-width:50em;"}
  - flash.each do |name, msg|
    = msg
    </br>
  - if user_signed_in?
    = link_to "Change your password", edit_user_registration_path
    </br>
    = link_to "Sign Out", destroy_user_session_path, :method => :get
  - else
    = link_to "Login", new_user_session_path, :method => :get

  - if user_signed_in? and current_user.root?
    </br>
    = link_to "Create new account", new_account_path, :method => :get
    </br>
    = link_to "Delete existing accounts", edit_account_path("root"), :method => :get
  </br>

  %div
    %div{:style=>"float:left;"}
      %h1{style: 'color: #9f9f9f; font-weight:300'} Events Calendar
    %div{:style=>"float:right; width:9em; padding:0 0.3em 0 0;"}
      - if user_signed_in?
        = form_tag new_event_path, method: :get, id: 'new_event', format: :js, remote: true, style: 'float:right;' do
          -# this path does an ajax GET to the event controller action "new"
          = submit_tag '+', class: 'button'
        %div{style: 'position:relative;width:2em;'}
        -#= button_to "+ 3rd Party", third_party_events_path, id: "third_party", class: 'button', style: 'float:left;'
        = form_tag third_party_events_path, method: :get, id: 'third_party', format: :js, remote: true, style: 'float:left;' do
          -#this path does an ajax GET to the event controller action "new"
          = submit_tag '+ 3rd Party', class: 'button'
    %div{:style=>"clear:both;"}
  </br>

  #wrap
    #calendar
    #panel_wrapper
      #panel_header
        %h2 Event Details
      #panel
        %p Click an event!
      %div{:style => "clear:both;"}

    %div{:style => "clear:both;"}

</br></br>
%div{style: 'width:90%; margin-left:5%; margin-right:5%; min-width:50em;'}= raw @section
%div{style: 'min-width:50em;'}= raw @footer