!!! 5
%html
  %head
    %title Calendar
    = stylesheet_link_tag 'application', 'fullcalendar'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false
    = javascript_include_tag 'calendar/application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false
    %script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")

    = csrf_meta_tags
    = raw @head1
  %body
    = yield
