!!! 5
%html
  %head
    %title Calendar
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'fullcalendar'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'moment.min'
    = javascript_include_tag 'fullcalendar'
    
    = csrf_meta_tags



  %body
    %h1.title Calendar
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
      = javascript_include_tag 'my_calendar'