!!! 5
%html
  %head
    %title Calendar
    :javascript
      var date = "#{@date}"
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'fullcalendar'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'moment.min'
    = javascript_include_tag 'fullcalendar'
    = csrf_meta_tags
    -if !@neededRescue
      = raw @head1
      = raw @header
    %hr

  %body
    //= raw @page.css("header")
    
    %main{:style => "width:75%; margin-left:12.5%;"}
      - if flash[:notice]
        %h3#notice.message= flash[:notice]
      - elsif flash[:warning]
        %h3#warning.message= flash[:warning]

      page = Nokogiri::HTML(open(http://www.natureinthecity.org/index.php))

      = yield
      = javascript_include_tag 'mycalendar'

    </br></br></br></br></br>
    %h1.title{:style => "border-top: 4px solid #ff9900; border-bottom: 0px;"}
    -if !@neededRescue
      = raw @section 
      = raw @footer
