!!! 5
%html
  %head
    %title Calendar
    :javascript
      var date = "#{@date}"
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'fullcalendar'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'moment.min'
    = javascript_include_tag 'fullcalendar'
    = javascript_include_tag 'mycalendar'
    = csrf_meta_tags
    //************START*************************
    = raw @head1
    //*************END************************
  %body
    //*************START**********************
    = raw @header
    //**************END***********************
    %hr

    %main{:style => "width:75%; margin-left:12.5%;"}
      - if flash[:notice]
        %h3#notice.message= flash[:notice]
      - elsif flash[:warning]
        %h3#warning.message= flash[:warning]

      = yield
      

    </br></br></br></br></br>
    %h1.title{:style => "border-top: 4px solid #ff9900; border-bottom: 0px;"}
    = raw @section
    = raw @footer
