<br/>
<br/>
<br/>
<div id='main' style="width:50%; margin-left:25%; margin-right:25%; min-width:30em;">
  <h1 class='title' style="border-bottom: 4px solid #A6C55F; border-top: 0px;"></h1>
  <div style='padding: 1em;'>



    <h2 style="font-weight:200;">Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, class: 'edit_text_field', placeholder: 'Email', label: 'email', style: 'width:20em;' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <br/>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", class: 'edit_text_field', placeholder: 'New Password', label: 'new_password', style: 'width:20em;' %>
      </div>

      <br/>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'edit_text_field', placeholder: 'Confirm New Password', label: 'new_password_confirmation', style: 'width:20em;' %>
      </div>

      <br/>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "off", class: 'edit_text_field', placeholder: 'Current Password', label: 'current_password', style: 'width:20em;' %>
      </div>

      <br/>

      <div class="actions">
        <%= f.submit "Update", class: 'button' %>
      </div>
    <% end %>

    <br/>
    <br/>

    <%= link_to "Back", :back, style: 'font-weight:200;' %>





    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
  <h1 class="title" style= "border-top: 4px solid #A6C55F; border-bottom: 0px;"></h1>
</div>
